{% extends 'base.html' %}

{% block content %}
    <h2>Lista Wydatków</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Tytuł</th>
                <th>Kwota</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
                <tr>
                    <td>{{ expense.title }}</td>
                    <td>{{ expense.amount }}</td>
                    <td><a href="{{ url_for('edit', id=loop.index0) }}">Edytuj</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Dodaj Nowy Wydatek</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.title.label }} {{ form.title(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.amount.label }} {{ form.amount(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}
