{% extends "base.html" %}
{% block title %}O mnie{% endblock %}
{% block content %}
<main>
    <div class="intro">

      <h2>O mnie</h2>

      <p>Cześć, jestem Marek Dadej!</p>
      <p>Mam 20 lat i jestem entuzjastą wielu dziedzin życia. <br>
        Interesuję się programowaniem, szeroko rozumianą technologią i graniem w gry komputerowe. <br>
        Uwielbiam zgłębiać nowe zagadnienia, a także rozwijać się jako osoba. <br>
        Lubię też przeróżne aktywności fizyczne.</p>
    </p>
    </div>

    <div class="intro2">

      <h2>Odkrywaj moje pasje i doświadczenia</h2>

      <p>Moja strona to miejsce, gdzie będę dzielić się swoimi spostrzeżeniami, doświadczeniami i ciekawymi informacjami związanych z moimi pasjami. Zapraszam do odkrywania i eksploracji!</p>

    </div>

    <div class="intro">

      <h2>Znajdziesz mnie także na:</h2>

      <ol>
        
        <li><a href="https://www.linkedin.com/in/marek-dadej-271b6529a?trk=contact-info">LinkedIn</a></li>
        <li><a href="https://github.com/marekdadej">GitHub</a></li>
        <li><a href="https://www.instagram.com/mark_hunti_/">Instagram</a></li>
    </ol>
    </div>

    
    <div class="intro2">

      <h2>Kontakt</h2>

      <p>Jeśli chcesz skontakować się ze mną w standardowy sposób, <br>
        wyślij mi wiadomość drogą mailową lub telefoniczną.</p>
      <p style="text-align: center;"><strong>Adres e-mail:</strong> konto@huntipl.com</p>
      <p style="text-align: center;"><strong>Telefon:</strong> +48 123 456 789</p>
    </div>
</main>
 {% endblock %}